.firstName {
    width: 25%;
}

.stepOneTitle {
    border-bottom: solid;
}

.form-group {
    width: 50%;
}

label {
    float: left;
    margin-left: 1em;
}

input {
    width: 10em;
    background-color: black;
    color: white;
}

.userInfo {
    display: flex-start;
    justify-content: left;
}

.boxes {
    align-self: flex-end;
}

.stepOne {
    padding-top: 0px;
    height: 630px;
    margin-bottom: 5em;
    background-color: darkslategray;
    width: 47%;
}

.stepOneTitle {
    color: white;
    padding-top: 5px;
}

.stepThreeTitle {
    color: white;
    padding-top: 5px;
}

.stepThree {
    padding-top: 0px;
    height: 630px;
    margin-bottom: 5em;
    background-color: darkslategray;
    width: 47%;
}

.submit {
    margin-top: 400px;
    text-align: center;
    margin-left: -130px;
    background-color: black;
    color: white;
    position: relative;
}

.image1 {
    width: 13em !important;
    height: 9.5em !important;
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
    border: solid;
    border-color: black;
}

.image2 {
    width: 13em !important;
    height: 9.5em !important;
    float: right;
    margin-bottom: 1em;
    margin-right: 1em;
    border: solid;
    border-color: black;
}

.image3 {
    width: 13em !important;
    height: 9.5em !important;
    float: left;
    margin-left: 1em;
    border: solid;
    border-color: black;
}

.calendarText {
    color: black;
    text-align: center;
}

.react-calendar {
    width: 100% !important;
    height: 100% !important;
    align-content: center;
}

.verify {
    float: left;
    text-align: left;
    margin-left: 1em;
}

.date {
    color: red;
}

.Bicep.Curls {
    float: left;
    margin: 10px;
    float: left;
    text-align: left;
    margin-left: 1em;
    margin-top: -1.5em;
}