.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.firstName {
    width: 25%;
}

.stepOneTitle {
    border-bottom: solid;
}

.form-group {
    width: 50%;
}

label {
    margin-left: 10px;
    margin-top: 16px;
    float: left;
}

input {
    margin-left: 10px;
    margin-top: 15px;
    float: right !important;
}

.stepOne {
    padding-top: 0px;
    height: 800px;
}

.stepOneTitle {
    color: black;
    padding-top: 5px;
}

.stepTwoTitle {
    color: black;
    padding-top: 5px;
}

.stepThreeTitle {
    color: black;
    padding-top: 5px;
}

form {
    float: left;
}

.stepTwo {
    padding-top: 0px;
    height: 800px;
}

.stepThree {
    padding-top: 0px;
    height: 800px;
}

.submit {
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 150px;
}

.image {
    width: 25em !important;
    height: 12.75em !important;
    float: left;
    margin: 10px;
}


.calendarText {
    color: black;
    text-align: center;
}

.react-calendar {
    width: 100% !important;
    height: 100% !important;
    align-content: center;
}


.verify {
    float:left;
}
